@use '../abstracts/' as *;

.dashboard-layout {
    @include flex;
    height: 100vh;
    position: relative;
    background-color: #f9fafb;
   
    &.sidebar-open {
      .dashboard-content {
        margin-left: 15rem;
        width: calc(100% - 15rem);
      }
    }
  
    &.sidebar-closed {
      .dashboard-content {
        margin-left: 4rem;
        width: calc(100% - 4rem);
      }
    }
  
    .dashboard-content {
      flex-grow: 1;
      padding: 5rem 1.5rem 1.5rem;
      transition: all 0.3s ease;
      min-height: 100vh;
    }
}