@use '../abstracts/' as *;


.dashboard-layout {
    @include flex;
    height: 100vh;
   
    &.sidebar-open {
      .dashboard-content {
        margin-left: 15rem;
        width: calc(100% - 15rem);
      }
    }
  
    &.sidebar-closed {
      .dashboard-content {
        margin-left: 0;
        width: 100%;
      }
    }
  
    .dashboard-content {
      flex-grow: 1;
      padding-top: 5rem;
      padding-left: 3rem;
      background-color: get-color('neutral', 'white');
      transition: all 0.3s ease;
    }
  }
  