@use '../abstracts/' as *;

.header {
  @include flex;
  
  background-color: get-color('neutral', 'gray-5');
  color: get-color('neutral', 'black');
  padding: get-spacing('4');
  height: 4rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: all 0.2s ease;

  &.shifted {
    left: 15rem;
  }
  .menu-button {
    @include font('2xl', 'semibold');
    background: none;
    border: none;
    color: get-color('neutral', 'black');
    cursor: pointer;
    margin-right: get-spacing('3');
  }

  h1 {
    @include font('xl', 'bold');
  }
}
