@use '../abstracts/' as *;

.sidebar-container {
    @include flex;
    min-height: 100vh;
    background-color: get-color('neutral', 'gray-1');
    width: 16rem;
    color: get-color('neutral', 'black');
    padding:get-spacing('3');
    height: 100vh;
    gap: 2vh;

    .sidebar-header {
        @include font('2xl', 'thin');
        padding-left: get-spacing('2');

        p {
            margin-left: get-spacing('2');
        }
    }

    .sidebar-nav {
        @include flex;
        flex-direction: column;
        gap: get-spacing('3');

        a {
            @include font('sm', 'light');
            color: get-color('neutral', 'black');
            cursor: pointer;
        }

        button {
            @include flex;
            background: none;
            border: none;
            padding: get-spacing('2');
            font-size: 16px;
            width: 100%;
            color: get-color('neutral', 'black');
            cursor: pointer;
            &:hover {
                text-decoration: none;
                background-color: get-color('neutral', 'gray-3');;
            }
            i {
                margin-right: get-spacing('4');
            }
        }

        .sub-list {
            padding-left: 20px;
            display: flex;
            flex-direction: column;

            .sub-list-item {
                padding-left: get-spacing('5');
                padding-top: get-spacing('2');
                font-size: 1rem;
                text-decoration: none;
                color: get-color('neutral', 'black');

                &:hover {
                    text-decoration: none;
                    background-color: get-color('neutral', 'gray-3');;
                }
            }
        }
    }
}
